In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from api_keys import g_key

In [2]:
# Store csv created in part one into a DataFrame
city_data_df = pd.read_csv("output_data/cities.csv")
city_data_df.head()

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,0,portsmouth,50.80,-1.09,55.99,87,12,4.63,GB,1595376734
1,1,tautira,-17.73,-149.15,84.20,66,40,5.82,PF,1595376550
2,2,wukari,7.85,9.78,73.63,91,87,8.68,NG,1595376734
3,3,namatanai,-3.67,152.43,84.33,70,27,6.13,PG,1595376734
4,4,saint-leu,-21.15,55.28,64.40,68,90,5.82,RE,1595376734

## Humidity Heatmap

In [3]:
# Configure gmaps
gmaps.configure(api_key=g_key)

In [4]:
# Heatmap of humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure()
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=5)

fig.add_layer(heat_layer)

fig

Figure(layout=FigureLayout(height='420px'))

## Create new DataFrame fitting weather criteria

In [5]:
# Narrow down cities that fit criteria and drop any results with null values
narrowed_city_df = city_data_df.loc[(city_data_df["Max Temp"] < 80) & (city_data_df["Max Temp"] > 70) \
                                    & (city_data_df["Wind Speed"] < 10) \
                                    & (city_data_df["Cloudiness"] == 0)].dropna()
narrowed_city_df

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
27,27,giffoni valle piana,40.72,14.94,75.99,59,0,3.04,IT,1595376738
71,71,soyo,-6.13,12.37,70.48,89,0,7.99,AO,1595376568
86,86,botwood,49.15,-55.35,71.01,63,0,7.58,CA,1595376747
120,120,meliki,40.52,22.40,73.00,59,0,5.10,GR,1595376752
137,137,yagodnoye,62.55,149.67,72.95,40,0,4.61,RU,1595376491
180,180,maceio,-9.67,-35.74,71.60,83,0,1.12,BR,1595376623
215,215,jawa,31.85,35.94,71.60,24,0,7.31,JO,1595376766
226,226,mahon,39.89,4.27,73.40,83,0,8.05,ES,1595376768
237,237,suez,29.97,32.53,73.65,81,0,8.70,EG,1595376769
287,287,baruun-urt,46.68,113.28,73.00,51,0,8.61,MN,1595376778
289,289,shepsi,44.04,39.15,71.04,74,0,6.64,RU,1595376778
324,324,zhangjiakou,40.81,114.88,72.07,60,0,5.50,CN,1595376783
335,335,komsomolskiy,40.43,71.72,71.60,43,0,6.93,UZ,1595376785
345,345,san matias,-16.37,-58.40,78.04,34,0,5.41,BO,1595376786
368,368,qom,34.64,50.88,77.29,18,0,0.96,IR,1595376790
381,381,pimenta bueno,-11.67,-61.19,74.89,41,0,0.74,BR,1595376792
403,403,palmas,-10.21,-48.36,78.80,54,0,5.82,BR,1595376737
421,421,scalea,39.81,15.80,72.00,60,0,4.23,IT,1595376798
440,440,nortelandia,-14.45,-56.80,75.40,41,0,3.56,BR,1595376801
454,454,kamen-rybolov,44.75,132.04,72.25,69,0,3.47,RU,1595376803
456,456,koroni,36.80,21.95,78.01,68,0,6.04,GR,1595376803
475,475,tiznit,29.58,-9.50,73.71,51,0,1.16,MA,1595376807
478,478,gat,31.61,34.76,75.00,81,0,2.53,IL,1595376527
489,489,humaita,-7.51,-63.02,77.43,50,0,1.79,BR,1595376810
508,508,ilhabela,-23.78,-45.36,71.42,61,0,3.74,BR,1595376634
559,559,lodja,-3.48,23.43,72.18,47,0,1.45,CD,1595376820
604,604,katobu,-4.94,122.53,79.70,77,0,6.38,ID,1595376575

## Hotel Map

In [6]:
# Create DataFrame called hotel_df to store hotel names along with city, country and coordinates
hotel_df = narrowed_city_df[["City", "Country", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df

                    City Country    Lat     Lng Hotel Name
27   giffoni valle piana      IT  40.72   14.94
71                  soyo      AO  -6.13   12.37
86               botwood      CA  49.15  -55.35
120               meliki      GR  40.52   22.40
137            yagodnoye      RU  62.55  149.67
180               maceio      BR  -9.67  -35.74
215                 jawa      JO  31.85   35.94
226                mahon      ES  39.89    4.27
237                 suez      EG  29.97   32.53
287           baruun-urt      MN  46.68  113.28
289               shepsi      RU  44.04   39.15
324          zhangjiakou      CN  40.81  114.88
335         komsomolskiy      UZ  40.43   71.72
345           san matias      BO -16.37  -58.40
368                  qom      IR  34.64   50.88
381        pimenta bueno      BR -11.67  -61.19
403               palmas      BR -10.21  -48.36
421               scalea      IT  39.81   15.80
440          nortelandia      BR -14.45  -56.80
454        kamen-rybolov      RU  44.75  132.04
456               koroni      GR  36.80   21.95
475               tiznit      MA  29.58   -9.50
478                  gat      IL  31.61   34.76
489              humaita      BR  -7.51  -63.02
508             ilhabela      BR -23.78  -45.36
559                lodja      CD  -3.48   23.43
604               katobu      ID  -4.94  122.53

In [7]:
# Set parameters to search for a hotel
params = {
    "radius": 5000,
    "types": "lodging",
    "key": g_key
}

# Iterate through 
for index, row in hotel_df.iterrows():
    # get lat, lng from df
    lat = row["Lat"]
    lng = row["Lng"]
    
    params["location"] = f"{lat},{lng}"
    
    # Use the search term: "Hotel" and our lat/lng
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # make request and print url
    name_address = requests.get(base_url, params=params)
    
    # convert to json
    name_address = name_address.json()
    
    # Grab the first hotel from the results and store the name
    try:
        hotel_df.loc[index, "Hotel Name"] = name_address["results"][0]["name"]
    except (KeyError, IndexError):
        print("Missing field/result... skipping.")

hotel_df

Missing field/result... skipping.
Missing field/result... skipping.

,City,Country,Lat,Lng,Hotel Name
27,giffoni valle piana,IT,40.72,14.94,Albergo Le Dodici Lune Di Alessandra E Paola C...
71,soyo,AO,-6.13,12.37,Hotel Mpampa
86,botwood,CA,49.15,-55.35,Exploits Hostel
120,meliki,GR,40.52,22.40,Ampelótopos
137,yagodnoye,RU,62.55,149.67,Guest House Yagodnoe
180,maceio,BR,-9.67,-35.74,Mercure Maceio Pajucara Hotel
215,jawa,JO,31.85,35.94,دار الحاج عبدالله ابو صعيليك واولاده
226,mahon,ES,39.89,4.27,ARTIEM Capri
237,suez,EG,29.97,32.53,Green House
287,baruun-urt,MN,46.68,113.28,Ахмадын амралт сувилал
289,shepsi,RU,44.04,39.15,Otel' Chayka
324,zhangjiakou,CN,40.81,114.88,Shell Zhangjiakou City Qiaodong District Ginza...
335,komsomolskiy,UZ,40.43,71.72,Ikathouse
345,san matias,BO,-16.37,-58.40,"HOTEL ""SAN JOSE"""
368,qom,IR,34.64,50.88,Qom International Hotel
381,pimenta bueno,BR,-11.67,-61.19,Cristalina Palace Hotel
403,palmas,BR,-10.21,-48.36,Hotel Lago da Palma
421,scalea,IT,39.81,15.80,Grand Hotel de Rose
440,nortelandia,BR,-14.45,-56.80,Hotel Karysmã
454,kamen-rybolov,RU,44.75,132.04,"The recreation center ""Olimp"""
456,koroni,GR,36.80,21.95,Apartments Xenios Zeus 1
475,tiznit,MA,29.58,-9.50,
478,gat,IL,31.61,34.76,רגע בנחת
489,humaita,BR,-7.51,-63.02,Corrêa Hotel
508,ilhabela,BR,-23.78,-45.36,Ilha Flat Hotel
559,lodja,CD,-3.48,23.43,
604,katobu,ID,-4.94,122.53,La Ode Husein

In [8]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [9]:
# Add marker layer ontop of heat map
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)

# Display figure
fig

Figure(layout=FigureLayout(height='420px'))